<div class="main-content">
    
    <%- include ("../partials/header") %>

    <div class="tasks-content">
        
        <h2 style="margin: 30px 0;">Users</h2>

        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>

                    <% users.forEach((user, index) => { %>
                        
                        <tr class="task">
                            <td><%= index+1 %></td>
                            <td><a id="viewuser" href="/users/profile/<%= user._id %>"><%= user.name %></a></td>
                
                            <td>
                                <a href="#" class="edit-task"><i class="fa fa-edit"></i></a>
                            </td>  
                            <td>
                                <form action="/users/delete" method="POST" onsubmit="return confirm('Delete user?')">
                                    <input type="hidden" name="id" value="<%= user._id %>">
                                    <button type="submit" class="delete-task"><i class="fa fa-trash"></i></button>
                                </form>
                            </td>
                        </tr>                    
                        
                    <% }) %>
                    
                </tbody>
            </table>
        
        </div>
    </div>

</div>


<script src="/js/script.js"></script>
