<div class="main-content">
    
    <%- include ("../partials/header") %>

    <div class="profile-content">

        <% if(user.picture) { %>
            <img src="data:image/png;base64,<%= Buffer.from(user.picture,'binary').toString('base64')%>" alt="Profile">
        <% } else { %>
            <img src="/img/dummy.png" alt="Profile">
        <% } %>
        
        <form action="/users/profile/picture" method="post" enctype="multipart/form-data">
            <input type="file" name="picture" accept=".png,.jpg,.jpeg" onChange="this.form.submit()">
        </form>

        <p class="user-name"><%= user.name %> - <%= user.age %></p>
        <p class="user-email"><%= user.email %></p>
    </div>
    
    <div class="update-form">
        <h2>Profile Update</h2>

        <%- include ("../partials/messages") %>

        <form action="/users/profile" method="POST"  autocomplete="off">
            <input class="form-input" type="text" name="name" id="name" placeholder="Name" value="<%= user.name %>">
            <input class="form-input" type="text" name="age" id="age" placeholder="Age" value="<%= user.age %>">
            <input class="form-input" type="email" name="email" id="email" placeholder="Email Id" value="<%= user.email %>"> 

            <input type="hidden" name="id" value="<%= user._id %>">
            <button class="button">Submit</button>
        </form>
    </div>

</div>


<script src="/js/script.js"></script>
