<div class="main-content">
    <div class="header">
        <div class="logo-image">
            <a href="/"><img src="/img/logo.png" alt="logo"></a>
        </div>
        <div class="profile-name">
            <a href="/users/profile"><%= user.name %></a>
        </div>
        <div id="profile-icon">
            <img class="small-picture" src="/img/picture.jpg" alt="profile">            
            <i id="dropdown-icon" class="fa fa-caret-down" aria-hidden="true"></i>
        </div>

        <div class="dropdown-menu">
            <a href="/users/profile">Profile</a>
            <a href="/users/tasks">Tasks</a>
            <a href="/users/logout">Logout</a>
        </div>
    </div>

    <div class="tasks-content">
        
        <% if(user.tasks.length > 0) { %>
            
            <a href="/users/tasks/add" class="button" id="addBtn">Add task</a>
            <h2>Your tasks</h2>

            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Completed</th>
                            <th colspan="2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
    
                        <% user.tasks.forEach((task, index) => { %>
                            
                            <tr class="task">
                                <td><%= index+1 %></td>
                                <td><%= task.name %></td>
                                <td>
                                    <input class="check-task" type="checkbox" name="" id="">
                                </td>
                                <td>
                                    <a href="/users/tasks/update/<%= task._id %>" class="edit-task"><i class="fa fa-edit"></i></a>
                                </td>  
                                <td>
                                    <form action="/users/tasks/delete" method="POST" onsubmit="return confirm('Delete task?')">
                                        <input type="hidden" name="id" value="<%= task._id %>">
                                        <button type="submit" class="delete-task"><i class="fa fa-trash"></i></button>
                                    </form>
                                </td>
                            </tr>                    
                            
                        <% }) %>
                       
                    </tbody>
                </table>
            
            </div>
            
        <% } else { %>

            <div class="first-task">
                <h2>Create your first task !!</h2>
                <a href="/users/tasks/add" class="button" id="addBtn" style="margin: 30px auto;">Add task</a>
                <img src="/img/logo.png" alt="">
            </div>


        <% } %>
    </div>

</div>


<script src="/js/script.js"></script>
