<div class="main-content">
    
    <%- include ("../partials/header") %>

    <div class="tasks-content">
        
        <h3>Name : <%= viewuser.name %></h3>
        <h3>Age : <%= viewuser.age %></h3>
        <h3>Email : <%= viewuser.email %></h3>


        <% if(viewuser.tasks.length > 0) { %>
            
            <h3>Tasks by <%= viewuser.name %></h3>

            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Completed</th>
                        </tr>
                    </thead>
                    <tbody>
    
                        <% viewuser.tasks.forEach((task, index) => { %>
                            
                            <tr class="task">
                                <td><%= index+1 %></td>
                                <td><%= task.name %></td>
                                <td><%= task.description %></td>
                                <td><%= task.completed %></td>
                                
                            </tr>                    
                            
                        <% }) %>
                        
                    </tbody>
                </table>
            
            </div>
            
        <% } else { %>

            <h3>No tasks by  <%= viewuser.name %></h3>


        <% } %>
    </div>


</div>


<script src="/js/script.js"></script>
